<header class="topbar">
  <div>
    <h1><%= pageTitle %></h1>
    <p class="subtitle"><%= subtitle %></p>
  </div>
  <div class="topbar-user">
    <span><strong><%= user.clinica_nome %></strong></span>
    <span><%= user.nome %></span>
    <a href="/logout" class="btn btn-outline btn-small">Sair</a>
  </div>
</header>
